body {
    font-family: Arial, sans-serif;
    background: url('https://img.freepik.com/free-vector/rainbow-frame-cute-doodle-border-vector_53876-135969.jpg?size=626&ext=jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    margin: 0;
    padding: 0;
}

.content-container {
    text-align: center;
    padding: 20px;
}

button {
    background-color: #6a0dad;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4b0082;
}

.puzzle-piece {
    position: absolute;
    width: 100px;
    height: 100px;
    background-size: 300px 300px;
    border: 1px solid #000;
}

.balloon {
    position: absolute;
    width: 100px;
    height: 150px;
    background: url('https://image.shutterstock.com/image-vector/colorful-balloon-on-background-260nw-1100603861.jpg') no-repeat center center;
    background-size: cover;
    cursor: pointer;
}

#quiz-container button {
    display: block;
    margin: 10px auto;
    background-color: #6a0dad;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
