body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.background-image {
    background: url('https://img.freepik.com/free-vector/rainbow-frame-cute-doodle-border-vector_53876-135969.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1723248000&semt=ais_hybrid') no-repeat center center fixed;
    background-size: cover;
}

.content-container {
    padding: 20px;
}

.puzzle-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 400px;
    height: 400px;
    margin: 0 auto;
    gap: 2px;
}

.puzzle-piece {
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
}

button {
    background-color: purple;
    color: white;
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

button#skip-button {
    background-color: red;
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}
